numpy
scipy
sympy
statsmodels
spglib
ovito
pymatgen
colorama
matplotlib
networkx
pretty-errors
pybind11
pybind11-global
rich
scikit-build
typer
typing_extensions
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx-markdown-tables
recommonmark
PyQt5
PySide2
git+https://github.com/BinglunYin/myalloy_package.git
git+https://github.com/vasp-dev/py4vasp.git
git+https://github.com/ShengLin1001/hetbuilder.git
ase == 3.22.1
git+https://github.com/nmdl-mizo/interface_master
