## This file didn't strict the version of the packages, because some packages are not compatible with the latest version, and it may cause some issues when installing the packages. 
## So we recommend you to use `setup/requirements2.txt` for installing the packages, because it will install the compatible version of the packages.


############## core package
numpy
scipy
sympy
statsmodels
spglib
ovito
pymatgen
crystal_toolkit
mp-api
colorama
matplotlib
networkx
pretty-errors
pybind11
pybind11-global
rich
scikit-build
typer
typing_extensions
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx-markdown-tables
recommonmark
PyQt5
PySide2
ase
sphinx
sphinx-autobuild
sphinx_rtd_theme
recommonmark
sphinx_markdown_tables
brokenaxes
adjustText
skcosmo

############## lammps
# lammps
# mpi4py # parallel run python script

############## jupyter
# iprPy

############## ml package
# torch
# torchvision
# scikit-learn

############## find heterostructure
# hetbuilder

# test