numpy
scipy
sympy
matplotlib
spglib
ovito
pymatgen
git+https://github.com/BinglunYin/myalloy_package.git
git+https://github.com/ShengLin1001/pjvasp_package.git
git+https://github.com/vasp-dev/py4vasp.git

pretty_errors
rich
networkx
git+https://github.com/ShengLin1001/hetbuilder.git
