
numpy
scipy
sympy
matplotlib
spglib
ovito
pymatgen
git+https://github.com/BinglunYin/myalloy_package.git
git+https://github.com/ShengLin1001/pjvasp_package.git
git+https://github.com/vasp-dev/py4vasp.git


git+https://github.com/ShengLin1001/hetbuilder.git
ase
colorama
matplotlib
networkx
numpy
pretty-errors
pybind11
pybind11-global
rich
scipy
scikit-build
spglib
typer
typing_extensions
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx-markdown-tables
recommonmark
pymatgen
PyQt5
PySide2
